*{
    margin: 0;
    padding: 0;
}
.hcont{
     display: flex;
    flex-direction: column;   
    align-items: center;

}
.home{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 40px;
    align-items: center;
}
.home input,button{
    margin: 20px;
}
.ct{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ct input,select{
    margin: 20px;
}
.task{
    border: 1px solid black;
    background-color: aqua;
    width: 240px;

}